input[type=file] {

  // Needed to override webkit button
  &::-webkit-file-upload-button {
    opacity: 0;
    width: 0;
    position: absolute;
    margin-bottom: -16px;
  }

  padding-top: 16px;
  margin-left: -18px;
  box-sizing: border-box;
  height: 42px;
  cursor: pointer;
  filter: alpha(opacity=0);
}