$colorPrimary: #000000;
$colorPrimaryLight: #FFFFFF;
$textPrimaryLight: #000000;
$colorAccent: #FFFFFF;
$textPrimary: #FFFFFF;
$textAccent: #000000;


.bgPink {
  background-color: #e06c81;
}

.bgOrange {
  background-color: #f66e02;
}

.txtOrange {

}

.txtPrimary {
  color: $textPrimaryLight;
}